.chat-center {
    max-width: $chat-width;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .mx-dataview {
        display: contents;
        .mx-dataview-content {
            display: contents;
        }
    }
}

.chat-flex-end {
    max-width: $chat-width;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .mx-dataview {
        display: contents;
        .mx-dataview-content {
            display: contents;
        }
    }
}

