.layout-chat-sidebar.mx-window {
    .mx-window-content {
        border: none;
        .mx-window-header {
            background: $brand-gradient;
            border: none;
            h4 {
                color: $font-color-inverse;
            }
            .close {
                color: $font-color-inverse;
            }
        }
    }
}