.page-chat-popup.mx-window .mx-window-content {
    .mx-window-header {
        background: $brand-gradient;
    }
}

.synthia-chat-bubble {
    .accordion-sources.widget-accordion .widget-accordion-group > .widget-accordion-group-header > .widget-accordion-group-header-button.widget-accordion-group-header-button-clickable {
        &:hover, &:focus, &:active {
            background: none;
        }
    }
}