.anychart-extension__container {
    .widget-charts-playground .widget-charts-playground-toggle .btn {
        right: unset;
        left: 10px;
    }
    .widget-charts .plot-container .main-svg {
        Background: none !important;
    }
    .legend .bg {
        fill-opacity: 0 !important;
    }
}