@import "../../../atlas_core/web/_variables.scss";
.btn-primary.btn {
    background: $brand-gradient;
    background-origin: border-box;
    transition: background-color 2s;
    &:hover,
    &:focus {
        background: $brand-gradient-dark;
        border-color: transparent;
    }
}

.inline-link.mx-link {
    padding-left: $spacing-smaller;
    line-height: $line-height-base * 1.25;
}