@import '../../../../theme/web/custom-variables';

.mx-layoutgrid.card-container>.row {
    padding-bottom: 24px;

    .col>.card {
        height: 100%;
        margin-bottom: 0px;
        .widget-datagrid{
            margin-right: -24px;
            margin-left: -24px;
        }
    }
}

    
