$brand-secondary: #43bbce;
$color-secondary-dark: mix($brand-secondary, black, 70%);
$brand-gradient-dark: linear-gradient(64deg, mix(#185a9d, black, 90%), mix($brand-secondary, black, 90%));
$border-radius-large: 24px;
$border-radius-small: 6px;