.layout-atlas .region-sidebar {
  background: $brand-gradient-vertical;
  .mx-navigationtree .navbar-inner > ul > li > a img {
    width: 52px;
    padding: 4px 14px;
  }
}

.layout-atlas-responsive,
.layout-atlas-responsive-default {
  .region-sidebar .mx-scrollcontainer-wrapper  > .mx-navigationtree
    .navbar-inner > ul > li > a {
    white-space: normal;
  }
}
