.bg-brand-gradient-vertical {
    background: $brand-gradient-vertical !important;
}

.bg-brand-secondary {
    background: $brand-secondary !important;
}

.border-primary {
    border: 1px solid $brand-primary;

}

.line-clamp--4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
            line-clamp: 4; 
    -webkit-box-orient: vertical;
}

.spacing-outer-bottom-extra-small {
    margin-bottom: 4px !important;
}


.card_scroll-to
{
    //only needed to use in JS-Action for scrolling to element
}