.bg-brand-gradient-vertical {
    background: $brand-gradient-vertical !important;
}

.bg-brand-secondary {
    background: $brand-secondary !important;
}

.border-primary {
    border: 1px solid $brand-primary;
}