.chat-loading-wrapper {
    display: flex;
    justify-content: left;
    padding-left: 2px;

    .loading-dot {
        border-radius: 100%;
        background-color: $font-color-default;
        width: $font-size-default / 3;
        height: $font-size-default / 3;

        &:nth-child(1) {
            animation: preloader 0.9s ease-in-out alternate infinite;
        }

        &:nth-child(2) {
            margin: 0 14px;
            animation: preloader 0.9s ease-in-out alternate 0.2s infinite;
        }

        &:nth-child(3) {
            animation: preloader 0.9s ease-in-out alternate 0.4s infinite;
        }
    }

    @keyframes preloader {
        0% { transform: scale(1); }
        50% { transform: scale(1.5); }
        100% { transform: scale(1); }
    }
}

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    flex: 1 1 0%;
    overflow-y: auto;

    .messages-container {
        overflow-y: auto;
        overflow-x: hidden;
        flex: 1 1 0%;
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
    }
}

.chat-input-wrapper {
    position: relative;

    .form-group {
        width:100%;
        padding-left: 0px !important;
        padding-right: 0px !important;

        .form-control {       
            padding-right: $send-btn-size + 36px;
            max-height: $chat-input-max-height;
            overflow: auto;
        }
    }

    .has-error .alert {
        display:none !important;
    }

    .send-btn {
        position: absolute;
        right: 24px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration-line: none;
        color: $btn-primary-color;
        background-color: $brand-primary;
        border-radius: $send-button-border-radius;
        width: $send-btn-size;
        height: $send-btn-size;

        .glyphicon {
            top: 0;
            font-size: $send-btn-size / 2;
            left: -1px;
        }
    }
}